* {
	font-family: 'Roboto', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@base: #red;

body {
	background: #ddd url('../img/bg_mission_planner.fw.png');
	background-repeat: no-repeat;
}


.btn_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 213px;
	height: 25px;
}

.btn_text {
	position: absolute;
	width: 213px;
	height: 25px;
	top: 2px;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-family: 'Roboto-Medium';
}

.btn_line {
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 25px solid #56C9DC;
	width: 3px;
	height: 1px;
}

.btn_line_active {
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 1px solid #56C9DC;
	width: 3px;
	height: 1px;
}

nav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	width: 1920px;
	height: 50px;
}

.nav_btn {
	position: absolute;
	top: 11px;
	height: 49px;
	width: 570px;
	font-size: 100px;
}

.nav_btn img{
	position: absolute;
	height: 49px;
	width: 570px;
	font-size: 100px;
}

.nav_text{ 
	top: 6px;
	font-size: 30px;
	font-family: 'Roboto-Medium';
	color: #FFF;
	text-align: center;
	height: 49px;
	width: 570px;
}

.nav_btn article {
	position: absolute;
	top: 5px;
	width: 570px;
	border: 1px soild red;
	color: #FFF;
	font-size: 30px;
	font-family: 'Roboto-Medium';
	letter-spacing: 1px;
}

.radio_btn {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 123px;
	height: 25px;
}

.unit_btn {
	width: 25px;
	height: 25px;

}

.unit_btn img{
	width: 25px;
	height: 25px;
}

.unit_btn > article.btn_text {
	color: #FFF;
	position: absolute;
	top: 3px;
	text-align: center;
	width: 25px;
	height: 25px;
}


// info class
.text_description {
	font-family: 'Roboto-Regular';
	font-size: 13px;
	color: #FFF;
	letter-spacing: 1px;
}


.text_value {
	font-family: 'Roboto-Bold';
	font-size: 13px;
	color: #FFF;
	letter-spacing: 1px;
	width: 100px;
	text-align: right;
}

img#test {
	// -webkit-filter: blur(10px);
	// filter: blur(10px);
	-webkit-filter: sepia(255);
}


// filter: grayscale(0);
//   filter: sepia(0);
//   filter: saturate(1);
//   filter: hue-rotate(0deg);
//   filter: invert(0);
//   filter: opacity(1);
//   filter: brightness(1);
//   filter: contrast(1);
//   filter: blur(0px);
//   filter: drop-shadow(5px 5px 5px #ccc);


canvas {
	width: 1920px;
	height: 1080px;
}

#map {
		position: absolute;
		top: 0px;
		left: 0px;
        width: 1920px;
        height: 1080px;
        // border: 1px dotted #000;
        z-index: 0;
}

.gmnoprint {
	display: none;
}