* {
	font-family: 'Roboto', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@base: #red;

body {
	background: url('../img/bg_mission_planner.fw.png');
}


.btn_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 213px;
	height: 25px;
}

.btn_text {
	position: absolute;
	width: 213px;
	height: 25px;
	top: 2px;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-family: 'Roboto-Medium';
}

.btn_line {
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 25px solid #56C9DC;
	width: 3px;
	height: 1px;
}

.btn_line_active {
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 1px solid #56C9DC;
	width: 3px;
	height: 1px;
}

nav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	width: 1920px;
	height: 50px;
}

.nav_btn {
	position: absolute;
	top: 11px;
	height: 49px;
	width: 570px;
	font-size: 100px;
}

.nav_btn img{
	position: absolute;
	height: 49px;
	width: 570px;
	font-size: 100px;
}

// img.nav_btn {
// 	position: absolute;
// 	top: 11px;
// 	height: 49px;
// 	width: 570px;
// 	font-size: 100px;
// }

// .btn_nav img{
// 	position: absolute;
// 	top: 11px;
// 	height: 49px;
// 	width: 570px;
// }

.nav_text{ 
	top: 6px;
	font-size: 30px;
	font-family: 'Roboto-Medium';
	color: #FFF;
	text-align: center;
	height: 49px;
	width: 570px;
}

.nav_btn .btn_text {
	position: absolute;
	top: 5px;
	width: 570px;
	border: 1px soild red;
	color: #FFF;
	font-size: 30px;
	font-family: 'Roboto-Medium';
	letter-spacing: 1px;
}